.appTitle {
    text-align: center;
    margin-bottom: 1rem;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutContainer {
    display: flex;
    justify-content: center;
    margin-top: 0.75rem;
}

